html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.magicbook-container,
.magicbook-navigator-wrap,
.magicbook-content-wrap {
  height: 100%;
}

.magicbook-container,
.magicbook-navigator-wrap,
.magicbook-content-wrap {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}

.magicbook-container {
  position: relative;
}

.magicbook-navigator-wrap {
  padding: 45px 30px;
}

.magicbook-content-wrap {
  padding: 45px 45px 90px;
}

.magicbook-container > .magicbook-navigator-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 340px;
  border-right: 2px solid #EEE;
}

.magicbook-container > .magicbook-content-wrap {
  position: relative;
  margin-left: 340px;
}

.magicbook-container *,
.magicbook-navigator-wrap *,
.magicbook-content-wrap * {
  box-sizing: border-box;
}

.magicbook-container > *:first-child,
.magicbook-navigator-wrap > *:first-child,
.magicbook-content-wrap > *:first-child,
.magicbook-navigator > *:first-child,
.magicbook-content > *:first-child {
  margin-top: 0 !important;
}

.magicbook-flip {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.magicbook-flip > .magicbook-flip__pre {
}

.magicbook-flip > .magicbook-flip__next {
  margin-left: 20px;
}

.magicbook-container .magicbook-error,
.magicbook-navigator-wrap .magicbook-error,
.magicbook-content-wrap .magicbook-error {
  color: red;
}

.magicbook-container .magicbook-btn,
.magicbook-navigator-wrap .magicbook-btn,
.magicbook-content-wrap .magicbook-btn {
  padding: 4px 12px;
  line-height: 24px;
}

.magicbook-container h1,
.magicbook-container h2,
.magicbook-container h3,
.magicbook-container h4,
.magicbook-container h5,
.magicbook-container h6,
.magicbook-navigator-wrap h1,
.magicbook-navigator-wrap h2,
.magicbook-navigator-wrap h3,
.magicbook-navigator-wrap h4,
.magicbook-navigator-wrap h5,
.magicbook-navigator-wrap h6,
.magicbook-content-wrap h1,
.magicbook-content-wrap h2,
.magicbook-content-wrap h3,
.magicbook-content-wrap h4,
.magicbook-content-wrap h5,
.magicbook-content-wrap h6 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}

.magicbook-container h1,
.magicbook-navigator-wrap h1,
.magicbook-content-wrap h1 {
  font-size: 2.25em;
  line-height: 1.2;
  padding-bottom: 0.3em;
  margin: 0.67em 0;
  border-bottom: 1px solid #eee;
}

.magicbook-container h2,
.magicbook-navigator-wrap h2,
.magicbook-content-wrap h2 {
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.3em;
}

.magicbook-container h3,
.magicbook-navigator-wrap h3,
.magicbook-content-wrap h3 {
  font-size: 1.5em;
  line-height: 1.43;
}

.magicbook-container h4,
.magicbook-navigator-wrap h4,
.magicbook-content-wrap h4 {
  font-size: 1.25em;
}

.magicbook-container h5,
.magicbook-navigator-wrap h5,
.magicbook-content-wrap h5 {
  font-size: 1em;
}

.magicbook-container h6,
.magicbook-navigator-wrap h6,
.magicbook-content-wrap h6 {
  font-size: 1em;
  color: #777;
}

.magicbook-container a,
.magicbook-navigator-wrap a,
.magicbook-content-wrap a {
  background-color: transparent;
  color: #4078c0;
  text-decoration: none;
}

.magicbook-container a:active,
.magicbook-container a:active,
.magicbook-navigator-wrap a:active,
.magicbook-navigator-wrap a:hover,
.magicbook-content-wrap a:hover
.magicbook-content-wrap a:hover{
  outline: 0;
  text-decoration: underline;
}

.magicbook-container a:not([href]),
.magicbook-navigator-wrap a:not([href]),
.magicbook-content-wrap a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.magicbook-container strong,
.magicbook-navigator-wrap strong,
.magicbook-content-wrap strong {
  font-weight: bold;
}

.magicbook-container img,
.magicbook-navigator-wrap img,
.magicbook-content-wrap img {
  border: 0;
}

.magicbook-container hr,
.magicbook-navigator-wrap hr,
.magicbook-content-wrap hr {
  box-sizing: content-box;
  overflow: hidden;
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}

.magicbook-container hr:before,
.magicbook-navigator-wrap hr:before,
.magicbook-content-wrap hr:before {
  display: table;
  content: "";
}

.magicbook-container hr:after,
.magicbook-navigator-wrap hr:after,
.magicbook-content-wrap hr:after {
  display: table;
  clear: both;
  content: "";
}

.magicbook-container pre,
.magicbook-navigator-wrap pre,
.magicbook-content-wrap pre {
  overflow: auto;
}

.magicbook-container code,
.magicbook-container kbd,
.magicbook-container pre,
.magicbook-navigator-wrap code,
.magicbook-navigator-wrap kbd,
.magicbook-navigator-wrap pre,
.magicbook-content-wrap code,
.magicbook-content-wrap kbd,
.magicbook-content-wrap pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.magicbook-container table,
.magicbook-navigator-wrap table,
.magicbook-content-wrap table {
  border-collapse: collapse;
  border-spacing: 0;
}

.magicbook-container td,
.magicbook-container th,
.magicbook-navigator-wrap td,
.magicbook-navigator-wrap th,
.magicbook-content-wrap td,
.magicbook-content-wrap th {
  padding: 0;
}

.magicbook-container blockquote,
.magicbook-navigator-wrap blockquote,
.magicbook-content-wrap blockquote {
  margin: 0;
}

.magicbook-container ul,
.magicbook-container ol,
.magicbook-navigator-wrap ul,
.magicbook-navigator-wrap ol,
.magicbook-content-wrap ul,
.magicbook-content-wrap ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.magicbook-container ol ol,
.magicbook-container ul ol,
.magicbook-navigator-wrap ol ol,
.magicbook-navigator-wrap ul ol,
.magicbook-content-wrap ol ol,
.magicbook-content-wrap ul ol {
  list-style-type: lower-roman;
}

.magicbook-container ul ul ol,
.magicbook-container ul ol ol,
.magicbook-container ol ul ol,
.magicbook-container ol ol ol,
.magicbook-navigator-wrap ul ul ol,
.magicbook-navigator-wrap ul ol ol,
.magicbook-navigator-wrap ol ul ol,
.magicbook-navigator-wrap ol ol ol,
.magicbook-content-wrap ul ul ol,
.magicbook-content-wrap ul ol ol,
.magicbook-content-wrap ol ul ol,
.magicbook-content-wrap ol ol ol {
  list-style-type: lower-alpha;
}

.magicbook-container dd,
.magicbook-navigator-wrap dd,
.magicbook-content-wrap dd {
  margin-left: 0;
}

.magicbook-container code,
.magicbook-navigator-wrap code,
.magicbook-content-wrap code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.magicbook-container pre,
.magicbook-navigator-wrap pre,
.magicbook-content-wrap pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.magicbook-container:before,
.magicbook-navigator-wrap:before,
.magicbook-content-wrap:before {
  display: table;
  content: "";
}

.magicbook-container:after,
.magicbook-navigator-wrap:after,
.magicbook-content-wrap:after {
  display: table;
  clear: both;
  content: "";
}

.magicbook-container .anchor,
.magicbook-navigator-wrap .anchor,
.magicbook-content-wrap .anchor {
  display: inline-block;
  padding-right: 2px;
  margin-left: -18px;
}

.magicbook-container .anchor:focus,
.magicbook-navigator-wrap .anchor:focus,
.magicbook-content-wrap .anchor:focus {
  outline: none;
}

.magicbook-container p,
.magicbook-container blockquote,
.magicbook-container ul,
.magicbook-container ol,
.magicbook-container dl,
.magicbook-container table,
.magicbook-container pre,
.magicbook-navigator-wrap p,
.magicbook-navigator-wrap blockquote,
.magicbook-navigator-wrap ul,
.magicbook-navigator-wrap ol,
.magicbook-navigator-wrap dl,
.magicbook-navigator-wrap table,
.magicbook-navigator-wrap pre,
.magicbook-content-wrap p,
.magicbook-content-wrap blockquote,
.magicbook-content-wrap ul,
.magicbook-content-wrap ol,
.magicbook-content-wrap dl,
.magicbook-content-wrap table,
.magicbook-content-wrap pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.magicbook-container ul,
.magicbook-container ol,
.magicbook-navigator-wrap ul,
.magicbook-navigator-wrap ol,
.magicbook-content-wrap ul,
.magicbook-content-wrap ol {
  padding-left: 2em;
}

.magicbook-container ul ul,
.magicbook-container ul ol,
.magicbook-container ol ol,
.magicbook-container ol ul,
.magicbook-navigator-wrap ul ul,
.magicbook-navigator-wrap ul ol,
.magicbook-navigator-wrap ol ol,
.magicbook-navigator-wrap ol ul,
.magicbook-content-wrap ul ul,
.magicbook-content-wrap ul ol,
.magicbook-content-wrap ol ol,
.magicbook-content-wrap ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.magicbook-container li>p,
.magicbook-navigator-wrap li>p,
.magicbook-content-wrap li>p {
  margin-top: 16px;
}

.magicbook-container dl,
.magicbook-navigator-wrap dl,
.magicbook-content-wrap dl {
  padding: 0;
}

.magicbook-container dl dt,
.magicbook-navigator-wrap dl dt,
.magicbook-content-wrap dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

.magicbook-container dl dd,
.magicbook-navigator-wrap dl dd,
.magicbook-content-wrap dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.magicbook-container blockquote,
.magicbook-navigator-wrap blockquote,
.magicbook-content-wrap blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}

.magicbook-container blockquote>:first-child,
.magicbook-navigator-wrap blockquote>:first-child,
.magicbook-content-wrap blockquote>:first-child {
  margin-top: 0;
}

.magicbook-container blockquote>:last-child,
.magicbook-navigator-wrap blockquote>:last-child,
.magicbook-content-wrap blockquote>:last-child {
  margin-bottom: 0;
}

.magicbook-container table,
.magicbook-navigator-wrap table,
.magicbook-content-wrap table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

.magicbook-container table th,
.magicbook-navigator-wrap table th,
.magicbook-content-wrap table th {
  font-weight: bold;
}

.magicbook-container table th,
.magicbook-container table td,
.magicbook-navigator-wrap table th,
.magicbook-navigator-wrap table td,
.magicbook-content-wrap table th,
.magicbook-content-wrap table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.magicbook-container table tr,
.magicbook-navigator-wrap table tr,
.magicbook-content-wrap table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.magicbook-container table tr:nth-child(2n),
.magicbook-navigator-wrap table tr:nth-child(2n),
.magicbook-content-wrap table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.magicbook-container img,
.magicbook-navigator-wrap img,
.magicbook-content-wrap img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.magicbook-container code,
.magicbook-navigator-wrap code,
.magicbook-content-wrap code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

.magicbook-container code:before,
.magicbook-container code:after,
.magicbook-navigator-wrap code:before,
.magicbook-navigator-wrap code:after,
.magicbook-content-wrap code:before,
.magicbook-content-wrap code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.magicbook-container pre>code,
.magicbook-navigator-wrap pre>code,
.magicbook-content-wrap pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.magicbook-container pre,
.magicbook-navigator-wrap pre,
.magicbook-content-wrap pre {
  word-wrap: normal;
}

.magicbook-container pre code,
.magicbook-navigator-wrap pre code,
.magicbook-content-wrap pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.magicbook-container pre code:before,
.magicbook-container pre code:after,
.magicbook-navigator-wrap pre code:before,
.magicbook-navigator-wrap pre code:after,
.magicbook-content-wrap pre code:before,
.magicbook-content-wrap pre code:after {
  content: normal;
}

.magicbook-container kbd,
.magicbook-navigator-wrap kbd,
.magicbook-content-wrap kbd {
  display: inline-block;
  padding: 3px 5px;
  line-height: 10px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}
