html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.magicbook-container,
.magicbook-navigator-wrap,
.magicbook-content-wrap {
  height: 100%;
}

.magicbook-container {
  position: relative;
}

.magicbook-container * {
  box-sizing: border-box;
}

.magicbook-container > .magicbook-navigator-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  padding: 15px 12px;
  border-right: 2px solid #EEE;
}

.magicbook-container > .magicbook-content-wrap {
  position: relative;
  margin-left: 280px;
  padding: 15px 12px 80px;
}

.magicbook-container .magicbook-error {
  color: red;
}

.magicbook-container .magicbook-btn {
  padding: 4px 12px;
  line-height: 24px;
}

.magicbook-flip {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.magicbook-flip > .magicbook-flip__pre {
}

.magicbook-flip > .magicbook-flip__next {
  margin-left: 20px;
}

